<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>

	<style type="text/css">
	    body {
	        font-family: 'Noto Serif JP', sans-serif;
	        font-size: 2rem;
	    }
	    form {
	    	margin-bottom: 10px;
	    	margin-left: 20%;
	    }
	</style>


	<fieldset>

        <form action="/" method="post">
          <input name="username" type="text" class="ghost-input" placeholder="Username" required>
       
          <input name="email" type="text" class="ghost-input" placeholder="Email" required>
        
          <input name="password" type="text" class="ghost-input" placeholder="Password" required>
        
          <input type="submit" class="ghost-button" value="Sign Up">
        </form>

        <form action="/app" method="post">
        	<input type="submit" class="ghost-button" value="Go To App">
        </form>

    </fieldset>


</body>


</html>